:host header.slds-card__header {
    padding-top:10px;
    background-color: red;
}

.THIS header.slds-card__header {
    padding-top:10px;
    background-color: blue;
}

:host .slds-card__header {
    padding-top:10px;
    background-color: orange;
}

.THIS .slds-card__header {
    padding-top:10px;
    background-color: green;
}

.slds-card__header {
    padding-top:10px;
    background-color: purple;
}